{% extends 'base.html.twig' %}

{% block title %}Nouvelle série{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row align-items-center mb-2">
            <div class="col-auto">
                <a class="btn btn-danger rounded-pill" href="{{ path('app_serie_index') }}">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            </div>

            <div class="col">
                <h1>Ajoute une nouvelle série</h1>
            </div>
        </div>


        {{ include('serie/_form.html.twig') }}
    </div>
{% endblock %}
